<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../components/metas %>

    <title>Dye-Ameter</title>

    <% include ../components/stylesheets %>
  </head>
  <body>
    <% include ../components/header %>

    <div class="container content">
      <main class="row" id="root"></main>

      <noscript>
        <h3>Hey, JavaScript needs to be enabled to use this app.</h3>
      </noscript>
    </div>

    <% include ../components/footer %>

    <script src="js/bundle.vendor.js" charset="utf-8"></script>
    <script src="js/bundle.index.js" charset="utf-8"></script>
  </body>
</html>
