<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Dye-ameter</title>

    <% include ../components/stylesheets %>
  </head>
  <body>
    <div id="root"></div>

    <script src="js/bundle.vendor.js" charset="utf-8"></script>
    <script src="js/bundle.index.js" charset="utf-8"></script>
  </body>
</html>
