<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../../components/metas %>

    <title>About | Dye-Ameter</title>

    <% include ../../components/stylesheets %>
  </head>
  <body>
    <% include ../../components/header %>

    <div class="container content">
      <div class="row">
        <main class="col-sm-12 col-md-12 col-lg-10 col-lg-offset-1">
          <h2>About</h2>

          <p>Hey! So this is just a web app that saves your color palettes. It will also copy the hex value to your clipboard.</p>
        </main>
      </div>
    </div>

    <% include ../../components/footer %>
  </body>
</html>
