<footer>
  <p>
    Dye-Ameter
  </p>
  <p>
    <small>
      Created by Mark Hernandez (GitHub: <a style="font-size: inherit;" href="https://www.github.com/markh817" target="noopener">@markh817</a>)
    </small>
  </p>
</footer>
